@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 226, 5%, 53%;
    --card: 0, 0%, 100%;
    --card-foreground: 226, 5%, 53%;
    --border: 208, 14%, 18%;
    --subtitle: 216, 9%, 43%;
    --radius: 0.75rem;
    --border: 240 10% 86%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --input: 223 10% 82%;
  }

  .dark {
  }

  body {
    font-family: 'Inter Variable';
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
