@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter-latin-standard-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(/fonts/InterVariable.woff2) format('woff2');
}

/* DMSans-latin-standard-normal */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(/fonts/DMSansVariable.ttf) format('ttf');
}

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 226, 5%, 53%;
    --card: 0, 0%, 100%;
    --card-foreground: 226, 5%, 53%;
    --border: 208, 14%, 18%;
    --subtitle: 216, 9%, 43%;
    --radius: 0.75rem;
    --border: 240 10% 86%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --input: 223 10% 82%;
  }

  .dark {
  }

  body {
    min-height: 100vh;
    font-family: 'Inter';
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground;
  }
}

@layer utilities {
  .custom-bg {
    position: relative;
  }

  .custom-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(to right, #e0e1e6, #e0e1e6 1px, #fff 1px, #fff);
    opacity: 0.2;
    z-index: -1; /* Push background behind content */
  }
}
